html {
  --green: #9DE5B8;
  --blue: #23465A;
  --cream: #DEF2F1;

  --slider-size: 20px;
  --thumb-size: 10px;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  position: relative;
  text-align: center;
  background: var(--cream);
  color: var(--blue);
  line-height: 1.5;
}

.content {
  z-index: 1;
  position: relative;
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
}

.with-padding {
  padding: 8px;
}

.horizontal {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vertical {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relative {
  position: relative;
}

.green {
  background: var(--green);
  border: none;
  color: var(--blue);
}

.blue {
  background: var(--blue);
  border: none;
  color: var(--cream);
}

.cream {
  background: var(--cream);
  border: 2px solid var(--blue);
  color: var(--blue);
}


.button {
  display: inline-block;
  font-family: inherit;
  font-weight: normal;
  transition: all 0.2s linear;
  text-align: center;
  padding: 8px;
  margin: 0;
  border: none;
  text-shadow: none;
  border-radius: 3px;
  cursor: pointer;

  font-size: 16px;
  vertical-align: middle;
  background: var(--blue);
  color: white;
}

.button:hover {
  background: var(--cream);
  color: var(--blue);
}

.button-circle {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  transition: all 0.2s linear;
  text-align: center;
  padding: 0;
  margin: 0 8px;
  border: none;
  border-radius: 50%;
  text-shadow: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: var(--green);
  fill: var(--blue);
  position: absolute;
  top: 10px;
  right: 0;

}

.button-circle:hover {
  background: var(--blue);
  fill: var(--cream);
}
.button-circle > svg {
  pointer-events: none;
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
}

input[type="tel"], input[type="text"] {
  border: none;
  border-bottom: 4px solid var(--blue);
  box-shadow: none;
  font-size: inherit;
  width: 60px;
  background: transparent;
  color: inherit;
  font-weight: inherit;
  text-align: center;
}

input[type="text"] {
  width: 50%;
  font-family: inherit;
}

.visualizer-container {
  overflow: auto;
  min-height: 100px;
}

.sliders-container {
  height: 200px;
  width: 100%;
  position: relative;
  margin: 8px 0;
  xpadding: 0 8px;
  overflow: hidden;
  text-align: center;
}

.range-wrap {
  width: var(--slider-size);
  height: 100px;
  position: relative;
}

#lines {
  position: absolute;
  left: -1px;
}

input[type=range] {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 100px;
  height: var(--thumb-size);
  transform: translate(-50%, -50%) rotate(-90deg);
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border-bottom: none;
}
input[type=range]:hover {
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: var(--thumb-size);
  width: 4px;
  background: var(--blue);
  cursor: pointer;
  margin-top: -3px;
}
input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: var(--thumb-size);
  width: 4px;
  background: var(--blue);
  cursor: pointer;
  margin-top: -3px;
}

input[type=range]::-moz-range-thumb:hover {
  transform: scale(1.5);
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: var(--thumb-size);
  width: 4px;
  background: var(--blue);
  cursor: pointer;
  margin-top: -3px;
}

input[type=range]::-ms-thumb:hover {
  transform: scale(1.5);
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: var(--blue);
}

input[type=range]::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background: var(--blue);
}

input[type=range]::-ms-track {
  height: 2px;
  cursor: pointer;
  background: var(--blue);
}

#mvaeSliders input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
}

#mvaeSliders input[type=range]::-moz-range-track {
  background: transparent;
}

#mvaeSliders input[type=range]::-ms-track {
  background: transparent;
}
